@import '$/@fontsource/pretendard';
@import '$/@fontsource/noto-color-emoji';

/** Light */
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 300;
	font-style: italic;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-LightItalic.woff2') format('woff2');
}

/** Regular */
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Italic.woff2') format('woff2');
}

/** Medium */
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'LXGW Bright';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-MediumItalic.woff2') format('woff2');
}

body {
	font-size: 1em;
	line-height: 1.65;
	letter-spacing: 0;
	font-synthesis: weight;
	font-family: 'LXGW Bright', 'Pretendard', 'Noto Color Emoji', ui-serif, serif;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
