# Node 模块
/node_modules

# pnpm
/pnpm-lock.yaml

# 构建/编译缓存
/.cache

# C#项目
/dotnet-packages/.vs
/dotnet-packages/*/dist

# 其他项目
/packages/schema/json
/project/website/.nuxt
/project/content_processor/dist
