@import (reference) '$/nord/src/lesscss/nord.less';

.markdown-alert {
	gap: 0.5rem;
	display: flex;
	margin-bottom: 1rem;
	align-items: stretch;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	flex-direction: column;
	border-left: 4px solid;

	p {
		margin: 0;
		color: inherit;
		line-height: 1.6;
	}

	.markdown-alert-title {
		display: flex;
		font-weight: bold;
		align-items: center;
		margin-bottom: 0.25rem;
	}

	blockquote {
		margin: 0.5rem 0;
		padding: 0.5rem 0.8rem;
		border-radius: 0 4px 4px 0;
		background-color: rgba(255, 255, 255, 0.05);
		border-left: 2px solid rgba(255, 255, 255, 0.2);

		p {
			font-size: 0.95em;
			opacity: 0.9;
		}
	}

	// 笔记
	&.markdown-alert-note {
		border-left-color: @nord10;
		background-color: fade(@nord10, 15%);
	}

	// 重要
	&.markdown-alert-important {
		border-left-color: @nord15;
		background-color: fade(@nord15, 15%);
	}

	// 提示
	&.markdown-alert-tip {
		border-left-color: @nord14;
		background-color: fade(@nord14, 15%);
	}

	// 警告
	&.markdown-alert-warning {
		color: @nord13;
		border-left-color: @nord13;
		background-color: fade(@nord13, 10%);

		blockquote p {
			opacity: 1;
			color: lighten(@nord13, 10%);
		}
	}

	// 危险
	&.markdown-alert-caution {
		border-left-color: @nord11;
		color: lighten(@nord11, 20%);
		background-color: fade(@nord11, 18%);
	}
}
