@import (reference) '$/nord/src/lesscss/nord.less';

hr {
	// 防止被环绕
	clear: both;

	height: 2em;
	border: none;
	display: flex;
	margin: 1em auto;
	align-items: center;
	justify-content: center;

	// 左侧线条
	&::before {
		content: '';
		flex-grow: 1;
		height: 2px;
		opacity: 0.6;
		margin-right: 1.5em;
		background: linear-gradient(to right, transparent, fade(@nord4, 40%));
	}

	// 中间文字 + 右侧线条
	&::after {
		content: '幻术奇象';
		display: flex;
		flex-grow: 1;
		font-size: 0.9em;
		align-items: center;
		white-space: nowrap;
		letter-spacing: 2px;
		color: fade(@nord13, 75%);

		// ! 不能修改顺序
		background: linear-gradient(to left, transparent, fade(@nord4, 40%)) no-repeat right center;
		background-size: calc(100% - 6em) 2px;
	}
}
