@import (reference) '$/nord/src/lesscss/nord.less';

.wiki-content {
	height: 100%;
	display: flex;
	flex-direction: column;

	// 标题
	.title {
		@apply "border-b-1 border-b-nord4 border-b-op-20 pb-2 mb-2";

		h1 {
			@apply "text-3xl font-bold mb-1";
		}

		.description {
			@apply "text-sm";
		}
	}

	@import url('./content//wiki/index.less'); // wiki 内容
	@import url('./content//novel/index.less'); // 小说内容

	// 分割线
	hr {
		margin: 1rem 0;
	}

	// 分类
	.category {
		@apply "max-md:overflow-x-auto max-md:flex-nowrap";
		@apply "border-1 border-nord4 border-op-20 rounded-md";

		display: flex;
		flex-wrap: wrap;
		padding: 1rem;
		margin: 1rem 0;
		font-size: 1.2rem;
		white-space: nowrap;

		a {
			color: @nord8;
			transition: color 0.2s ease;

			&:hover {
				color: @nord10;
				text-decoration: underline;
			}
		}
	}

	// 时间
	.content-time {
		@apply 'gap-y-3';
		display: flex;
		flex-direction: column;
	}
}

// 扩展内容
@import url('./extra-content/main.less');
