@import (reference) '$/nord/src/lesscss/nord.less';

.a() {
	span {
		font-size: 1.1em;
	}

	&:hover {
		border-radius: 8px;
		background-color: fade(@nord4, 8%);
	}

	&.router-link-active {
		color: @nord8;
		font-weight: bold;

		.icon {
			stroke: @nord10;
		}
	}
}
