:root,
:root[data-theme='light'] {
	@import url('../design/color/light.less');
	--Arcac-1: @Arcac-1;
	--Arcac-2: @Arcac-2;
	--Arcac-3: @Arcac-3;
	--Arcac-4: @Arcac-4;
	--Arcac-5: @Arcac-5;
	--Arcac-6: @Arcac-6;
	--Arcac-7: @Arcac-7;
	--Arcac-8: @Arcac-8;
	--Arcac-9: @Arcac-9;
	--Arcac-10: @Arcac-10;
	--Arcac-11: @Arcac-11;
	--Arcac-12: @Arcac-12;
	--Arcac-13: @Arcac-13;
	--Arcac-14: @Arcac-14;
	--Arcac-15: @Arcac-15;
	--Arcac-16: @Arcac-16;
	--Arcac-17: @Arcac-17;
}

:root[data-theme='dark'] {
	@import url('../design/color/dark.less');
	--Arcac-1: @Arcac-1;
	--Arcac-2: @Arcac-2;
	--Arcac-3: @Arcac-3;
	--Arcac-4: @Arcac-4;
	--Arcac-5: @Arcac-5;
	--Arcac-6: @Arcac-6;
	--Arcac-7: @Arcac-7;
	--Arcac-8: @Arcac-8;
	--Arcac-9: @Arcac-9;
	--Arcac-10: @Arcac-10;
	--Arcac-11: @Arcac-11;
	--Arcac-12: @Arcac-12;
	--Arcac-13: @Arcac-13;
	--Arcac-14: @Arcac-14;
	--Arcac-15: @Arcac-15;
	--Arcac-16: @Arcac-16;
	--Arcac-17: @Arcac-17;
}
