@import '$/@fontsource/noto-color-emoji';
@import '@fontsource-variable/jetbrains-mono';

// Light
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

// Regular
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

// Medium
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'LXGW Bright';
	src: url('$/@lxgw/LxgwBright/LXGWBright/LXGWBright-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

body {
	font-family: 'LXGW Bright', sans-serif;
	font-size: 16px;
	line-height: 1.65;
	letter-spacing: 0;

	font-synthesis: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}
