@charset "utf-8";

// 部分样式复制自 nord-bulma (MIT License)
// https://github.com/sereneblue/nord-bulma

@use 'sass:color';
@use 'nord/src/sass/nord' as nord;

@use 'bulma/sass/utilities' with (
	// 设置 prefix
	$class-prefix: 'bl-',

	// 颜色
	$cyan: nord.$nord9,
	$red: nord.$nord11,
	$blue: nord.$nord10,
	$green: nord.$nord14,
	$orange: nord.$nord12,
	$yellow: nord.$nord13,
	$purple: nord.$nord15,
	$turquoise: nord.$nord8,

	// 基本颜色
	$black: nord.$nord0,
	$black-bis: nord.$nord1,
	$black-ter: nord.$nord2,

	// 灰色
	$grey: color.adjust(nord.$nord3, $lightness: 25%),
	$grey-dark: nord.$nord3,
	$grey-darker: color.adjust(nord.$nord3, $lightness: -5%),
	$grey-light: color.adjust(nord.$nord3, $lightness: 35%),
	$grey-lighter: color.adjust(nord.$nord3, $lightness: 48%),
	$grey-lightest: color.adjust(nord.$nord3, $lightness: 60%),
	// 白色
	$white: nord.$nord0,
	$white-ter: nord.$nord6,
	$white-bis: color.adjust(nord.$nord6, $lightness: 2%)
);

@forward 'bulma/sass/components';
