@import 'nord/src/lesscss/nord.less';

.footnotes {
	hr {
		display: none;
	}

	ol {
		padding-left: 1.25rem;

		li {
			p {
				margin: 0;

				// 返回链接
				.footnote-back-ref {
					color: @nord9;
					cursor: pointer;
					font-weight: 600;
					font-family: monospace;
					text-decoration: none;
					transition: color 0.2s ease;

					&:hover {
						color: @nord13;
					}
				}
			}
		}
	}
}
