@import 'nord/src/lesscss/nord.less';

// 普通文本
p,
span {
	@apply "leading-[1.65] mb-4";
}

// 超链接
a {
	color: @nord8;
	transition: color 0.2s ease;

	&:hover {
		color: @nord10;
		text-decoration: underline;
	}
}

// 删除线
del {
	position: relative;
	text-decoration: none;

	&::after {
		content: '';
		left: 0;
		right: 0;
		top: 50%;
		height: 1px;
		position: absolute;
		background: currentColor;
		transform: translateY(-50%);
	}
}

// 插入文本
ins {
	position: relative;
	text-decoration: none;

	&::after {
		content: '';
		left: 0;
		right: 0;
		bottom: 0;
		height: 1px;
		position: absolute;
		background-color: @nord14;
		transform: translateY(50%);
	}
}

// 高亮文本
mark {
	padding: 0 0.3em;
	border-radius: 0.3em;
	background-color: fade(@nord14, 40%);
}
