.wiki-content {
	flex: 1 1 0%;
	position: relative;

	// 标题
	@import './tags/title.less';

	// 普通文本
	@import './tags/text.less';

	// 图片
	@import './tags/image.less';

	// 列表
	@import './tags/list.less';

	// 引用
	@import './tags/blockquote.less';

	// 表格
	@import './tags/table.less';

	// GFM 警报
	@import './tags/alert.less';

	// 脚注
	@import './tags/footnote.less';

	// 分隔线
	@import './tags/hr.less';

	// 任务列表
	@import './tags/task.less';

	// 代码块
	@import './tags/code.less';

	// 图片环绕箭兼容
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	ol,
	ul,
	blockquote,
	pre,
	code,
	hr,
	table {
		clear: both;
	}
}
